:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}


mat-toolbar {
  min-width: 600px;
  width: calc(100vw - 950px);
}


.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section {
  display: flex;
  flex-direction: column;
}
