:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 220px;
  height: 100%;
}

mat-nav-list a.mat-list-item {
  font-size: 0.9em;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 68px;
}
