:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
}

mat-nav-list a.mat-list-item {
  font-size: 0.9em;
}

mat-icon {
  color: rgba(0, 0, 0, 0.54);
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 64px;
  padding: 0 12px;
}

.title-container .title {
  font-size: 22px;
  font-weight: 500;
}

.child-routes-container {
  overflow: hidden;
  background-color: whitesmoke;
}
