
<mat-card class="mat-elevation-z0">

  <mat-card-content>

    <div class="action-container">

      <mat-form-field class="no-wrapper">
        <mat-label>Filter Roles</mat-label>
        <mat-icon matPrefix>filter_alt</mat-icon>
        <input matInput #filter>
        <button matSuffix mat-icon-button
          (click)="$event.stopPropagation(); filter.value = ''; filter.focus();">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>

      <span class="spacer"></span>

      <div class="action-button-container">
        <button mat-button matTooltip="Reload User Roles">
          <mat-icon>refresh</mat-icon>
          Reload Data
        </button>
        <button mat-button matTooltip="New User Role">
          <mat-icon>add</mat-icon>
          User Role
        </button>
      </div>

    </div>

    <div class="table-wrapper">

      <table mat-table [dataSource]="tblData">

        <ng-container *ngFor="let column of tblColumns; let last = last;" [matColumnDef]="column.columnDef" [stickyEnd]="last">

          <th mat-header-cell *matHeaderCellDef>{{column.header}}</th>

          <td mat-cell *matCellDef="let element">

            <ng-container [ngSwitch]="column.type">

              <ng-container *ngSwitchCase="'Actions'">
                <ng-container *ngTemplateOutlet="actions"></ng-container>
              </ng-container>

              <ng-container *ngSwitchDefault>
                <ng-container *ngTemplateOutlet="default"></ng-container>
              </ng-container>

              <ng-template #actions>
                <button mat-icon-button>
                  <mat-icon>pending_actions</mat-icon>
                </button>
              </ng-template>

              <ng-template #default>
                {{column.cell(element)}}
              </ng-template>

            </ng-container>

          </td>



        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tblColumnDef; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: tblColumnDef"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [colSpan]="tblColumnDef.length">No Data...</td>
        </tr>

      </table>

    </div>

    <mat-paginator></mat-paginator>

  </mat-card-content>

</mat-card>
