:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  display: flex;
  flex-direction: column;
  width: 300px;
}

mat-nav-list a.mat-list-item {
  font-size: .9em;
}

mat-icon {
  color: rgba(0, 0, 0, 0.54);
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 68px;
}


.child-routes-container {
  overflow: hidden;
  background-color: whitesmoke;
}

